@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --background: linear-gradient(90deg, rgba(3,3,3,1) 39%, rgba(27,27,27,1) 100%);
    --celeste: rgb(16, 193, 237);
    --rosado:#FF5757;
    --azul:#042698;
    --verde: rgb(8, 180, 242);
}

body{
    background:var(--background);
}